@font-face {
    font-family: 'OpenSans', sans-serif;
    src: url(fonts/OpenSans.ttf);
}
@font-face {
    font-family: 'MyriadPro', sans-serif;
    src: url(fonts/MyriadPro.ttf);
}
*{
    margin: 0;
    padding: 0;
    /* font-family: 'OpenSans', sans-serif!important; */
    /* outline: 1px solid white; */
}
body{
    background-color: #000;
}
header{
    display: flex;
    height: 70px;
}
.logo, .search{
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #171a1c;
    position: relative;
}
.logo::after{
    content: "Architect";
    position: absolute;
    color: #fff;
    font-family: "MyriadPro", sans-serif;
    font-size: 22px;
    left:80px;
}
.logo img{
    content: url(../img/logo.png);
}
.search::before{
    content: "\f002";
    color: #fff;
    font: 17px FontAwesome;
}
nav{
    width: 100%;
    display: flex;
    color:#fff;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: "MyriadPro", sans-serif;
}
nav p{
    margin:0 15px;
}
.latest-news{
    height: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'OpenSans', sans-serif;
    background-image: url(../img/header-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.latest-news p{
    font-size: 27px;
    color:#fff;
    margin-bottom: 20px;
}
.button-container{
    display: flex;
}
.button{
    color:#fff;
    border-radius: 5px;
    padding: 15px;
    width: 170px;
    text-align: center;
    margin: 0px 15px;
    font-weight: 600;
}
.subscribe{
    background-color: #89ca62;
}
.articles{
    background-color: #14b9d5;
}
img{
    display: block;
}
.most-popular-posts{
    background-color: #f2f2f2;
    height: 1050px;
    width: 100%;
}
.most-popular-posts .title{
    color: #18b4cf;
    padding: 60px 0;
    text-align: center;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    display: block;
}
.masonry-container{
    width: 1170px;
    height: 900px;
    display: flex;
    flex-flow: column wrap;
    /* outline: 2px solid black; */
    margin: 0 auto;
    align-content: space-between;
}
.masonry-container::before,
.masonry-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
.masonry-container .item{
    width: 370px;
    padding-bottom:20px;
    box-sizing: border-box;
}
.item.p1 img{
    content: url("../img/post-1-img.png");
}
.item.p2 img{
    content: url("../img/post-2-img.png");
}
.item.p3 img{
    content: url("../img/post-3-img.png");
}
.item.p4 img{
    content: url("../img/post-4-img.png");
}
.item.p5 img{
    content: url("../img/post-5-img.png");
}
.item.p6 img{
    content: url("../img/post-6-img.png");
}
.item p {
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color:#353a3d;
    padding: 20px 0;
    background-color: #fff;
}
.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }
.most-popular-clients p{
    font-size: 32px;
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 70px;
    position: relative;
    display: flex;
    justify-content: center;
}
.most-popular-clients p::before{
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    border-bottom:3px solid #169cb4;
    top: 70px;
}
.most-popular-clients{
    height: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.client-logos{
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(4, auto);
    align-items: center;
}
.client1{
    content: url("../img/client1.png");
}
.client2{
    content: url("../img/client2.png");
}
.client3{
    content: url("../img/client3.png");
}
.client4{
    content: url("../img/client4.png");
}
.top-rated{
    background-color: #fff;
}
.top-rated p, .hot-news > p{
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    color: #18b4cf;
    padding: 60px 0;
}
.top-rated-container{
    display: grid;
    grid-template-columns: repeat(7, auto);
}
.top-rated-item{
    width: 100%;
}
.top-rated-item-1{
    content: url('../img/top-rated-1.png');
}
.top-rated-item-2{
    content: url('../img/top-rated-2.png');
}
.top-rated-item-3{
    content: url('../img/top-rated-2.png');
}
.top-rated-item-4{
    content: url('../img/top-rated-4.png');
}
.top-rated-item-5{
    content: url('../img/top-rated-5.png');
}
.top-rated-item-6{
    content: url('../img/top-rated-6.png');
}
.top-rated-item-7{
    content: url('../img/top-rated-7.png');
}
.hot-news{
    background-color: #fff;
    /* height: 1000px; */
}
.hot-news-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 40px;
    width: 1200px;
    padding-bottom: 60px;
}
.hot-news-item{
    background-color: #f9f7f7;
    display: flex;
}
.hot-news-item.grid-col-span-1, .hot-news-item.grid-col-span-2{
    flex-flow: column;
}
.grid-col-span-1{
    grid-column: span 1;
}
.grid-col-span-2{
    grid-column: span 2;
}
.grid-col-span-3{
    grid-column: span 3;
}
.description{
    padding:40px 20px;
}
.hot-news-description-title{
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #353a3d;
}
.hot-news-description-title.span-1{
    text-align: center;
    display: block;
    margin-top: 15px;
    margin-bottom: 0 auto;
}
.hot-news-description-title.span-3, .hot-news-description-title.span-2{
    text-align: right;
    margin-bottom: 20px;
}
.hot-news-description{
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #353a3d;
    text-align: right;
    hyphens: auto;
}
.hot-news-item-1 img{
    content: url("../img/hot-news-1.png");
}
.hot-news-item-2 img{
    content: url("../img/hot-news-2.png");
}
.hot-news-item-3 img{
    content: url("../img/hot-news-3.png");
}
.hot-news-item-4 img{
    content: url("../img/hot-news-4.png");
}
.hot-news-item-5 img{
    content: url("../img/hot-news-5.png");
}
.hot-news-item-6 img{
    content: url("../img/hot-news-6.png");
}
.hot-news-item-7 img{
    content: url("../img/hot-news-7.png");
}
.hot-news-item-8 img{
    content: url("../img/hot-news-8.png");
}
footer{
    background-color: #1d2124;
    height: 80px;
}
.footer-container{
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
}
.footer-container p{
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    color: #fff;
}
.footer-container img{
    content: url('../img/footer-logo.png');
}
.button:hover, .logo:hover, nav p:hover, .search:hover{
    cursor:pointer;
}